body {
    font-family: Arial, sans-serif;
    padding-bottom: 80px;
}

/* Puts h1 in center of page */
h1 {
    text-align: center;
}

.step {
    position: relative;
    margin: 3px;  /* was 5px */
    padding: 5px;  /* was 10px */
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 0.8em;  /* new, adjust as needed */
}

#sortable-container {
    display: flex;
}

#preprocessing_steps,
#selected_steps {
    flex: 1;
    min-height: 1px;
    border: 1px solid #ddd;  /* was black */
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;  /* new, adjust as needed */
}


@media (max-width: 600px) {
    #sortable-container {
        flex-direction: column;
    }
}

.info-icon-input {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* if you want a dotted underline for icon */
    cursor: pointer;
    color: blue;
}

.info-modal-input {
    display: none;
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 105%; /* it will appear on the right side of the icon */
    width: 900px; /* adjust the width as per your requirements */
}

.info-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: blue;
}

.info-modal {
    display: none;
    position: absolute;
    top: 70%;  /* adjust as needed to position below the info-icon */
    right: 10px;
    z-index: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #888;
    width: 300px;
}

.hidden {
    display: none;
}

#loading-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#loading-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.info-modal-input img {
    max-width: 100%; /* to make sure images do not overflow the modal */
    height: auto; /* to maintain aspect ratio */
    margin-top: 10px; /* add space between the image and the text */
}

#bottom-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    background-color: #ffffff;
}

/* Language switcher at lower center */

.language-switcher {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-switcher a img {
    width: 30px;
    height: 20px;
    margin: 0 5px;
}

/* Logo at lower left corner */
.logo-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Arial, sans-serif;
}

.line {
    display: flex;
}

.pink-text {
    color: #e40454;
}

.cursor {
    width: 2px;
    height: 18px;
    background-color: #FF69B4;
    margin-left: 5px;
    margin-right: 5px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


.model-info {
    background-color: #e1e1e1; /* Faint red background */
    border: #0e0e0e solid 1px;
    border-radius: 15px; /* Rounded corners */
    border-color: #1a1a1a;
    padding: 15px; /* Some padding */
    margin-top: 20px; /* Some margin at the top */
    width: 550px;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack child elements vertically */
}

.model-info p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    height: 75%; /* Description takes up 75% of parent height */
}

.model-info .rating {
    display: flex; /* Display ratings side by side */
    justify-content: space-between; /* Space them */
    height: 25%; /* Ratings take up 25% of parent height */
}