body {
    font-family: Arial, sans-serif;
}

/* Puts h1 in center of page */
h1 {
    text-align: center;
}

.step {
    position: relative;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: move;
}

#sortable-container {
    display: flex;
}

#preprocessing_steps,
#selected_steps {
    flex: 1; /* This makes the divs take up an equal amount of space */
    min-height: 1px; /* This is necessary for flex items to have a height. You can change it as needed */
    border: 1px solid black; /* Just for visualization */
    padding: 10px;
    margin: 10px;
}


@media (max-width: 600px) {
    #sortable-container {
        flex-direction: column;
    }
}

.info-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: blue;
}

.info-modal {
    display: none;
    position: absolute;
    top: 70%;  /* adjust as needed to position below the info-icon */
    right: 10px;
    z-index: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #888;
    width: 300px;
}

.hidden {
    display: none;
}

#loading-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#loading-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}