<!DOCTYPE html>
<html>
<head>
    <title>Preprocessing</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>
<body>
    <div id="loading-overlay">
        <div id="loading-text">Loading<span id="loading-dots"></span></div>
    </div>
    <form action="/" method="post" enctype='multipart/form-data'>
        <h1>Cassidy</h1>
            <br> Data source type:
            <i class="info-icon-input">i
                <div class="info-modal-input">Two data source types can be selected: scientific articles and
                online forum discussions.
                    <br>
                    For scientific articles, either a link or PDF-file is inserted, containing
                    the full-text article.
                    <br>
                    For online forum discussions, a link to the discussion is inserted. Furthermore, a few "classes"
                    are inserted. More on that when that option is selected.
                </div>
            </i>
            <br>
            <select name="source_type" id="source_type" onchange="updateInputFields()">
                <option value="None">- - -</option>
                <option value="Scientific article">Scientific article</option>
                <option value="Online forum discussion">Online forum discussion</option>
            </select>
            <br>
            <div id="link_div">
                Link:
                <i class="info-icon-input">i
                    <div class="info-modal-input">A direct link to the full-text article in PDF-format.</div>
                </i>
                <br>
                <input type="text" id="link" name="link" oninput="checkFileUpload()"><br>
                <div id="file_upload_div">
                    PDF file:
                    <i class="info-icon-input">i
                        <div class="info-modal-input">A local PDF-file containing the full-text article.</div>
                    </i><br>
                    <input type="file" id="pdf_file" name="pdf_file" accept=".pdf" onchange="checkLinkInput()"><br>
                    <button type="button" id="clear_file">Clear</button>
                </div>
            </div>
            <div id="message_div">
                Message Class: <br>
                <input type="text" id="message_class" name="message_class">
                <i class="info-icon-input">i
                    <div class="info-modal-input">
                        <p>To perform analysis on an online forum discussion, we will need to collect a bit of information
                        on the web page itself.
                        <br>
                            By right-clicking on a message in the discussion and selecting "Inspect", you can see the HTML
                            code of the message. In this code, you can find the "class" of the message. This is a unique
                            identifier for the message, which we will use to collect all messages in the discussion.
                            <br>
                            Copy the class of the FULL message and paste it in the input field above.
                        </p>
                        <img src="{{ url_for('static', filename='images/message_class.jpg') }}" alt="Image description for message class">
                    </div>
                </i>
                <br>

                <!-- Message Text Class: -->
                Message Text Class: <br>
                <input type="text" id="message_text_class" name="message_text_class">
                <i class="info-icon-input">i
                    <div class="info-modal-input">
                        <p>Next up is the text of the message. Hover over the inner text of a message, right-click on it
                        and select "Inspect". Copy the class of the element containing the text of the message, and paste
                        it in here.</p>
                        <img src="{{ url_for('static', filename='images/message_text_class.jpg') }}" alt="Image description for message text class">
                    </div>
                </i>
                <br>

                <!-- Message Author Class: -->
                Message Author Class: <br>
                <input type="text" id="message_author_class" name="message_author_class">
                <i class="info-icon-input">i
                    <div class="info-modal-input">
                        <p>Next up is the author of the message. Hover over the name of the author, select "Inspect",
                         and copy the class of the element containing the author name. Paste it here.</p>
                        <img src="{{ url_for('static', filename='images/message_author_class.jpg') }}" alt="Image description for message author class">
                    </div>
                </i>
                <br>

                <!-- Pagination Class: -->
                Pagination Class: <br>
                <input type="text" id="pagination_class" name="pagination_class">
                <i class="info-icon-input">i
                    <div class="info-modal-input">
                        <p>Lastly is the pagination. Hover over the pagination (which is the element containing the different
                        page numbers you can click on) and select "Inspect". Copy the class of the element containing
                        the page numbers, and insert it here.</p>
                        <img src="{{ url_for('static', filename='images/pagination.jpg') }}" alt="Image description for pagination class">
                    </div>
                </i>
                <br>
            </div>
            Functionality:
            <i class="info-icon-input">i
                <div class="info-modal-input">Three functionalities can be executed:
                <br>
                - Sentiment analysis: calculates a "sentiment score" per section/message. The score is between -1 and 1,
                where -1 is very negative, 0 is neutral and 1 is very positive.
                <br>
                - Extractive summarization: extracts the most important sentences from the text.
                <br>
                - Relation extraction: extracts meaningful relations between Nouns in the text.
                </div>
            </i>
            <br>
            <select id="functionality" name="functionality" onchange="updateModels()">
                <option value="None">- - -</option>
                <option value="sentiment_analysis">Sentiment analysis</option>
                <option value="summarize">Extractive summarization</option>
                <option value="relation_extractor">Relation extraction</option>
                <!-- Add more options as needed -->
            </select>

            <div id="sentiment_models" class="model-select" style="display: none;">
                <p>Model:</p>
                <select name="sentiment_model" onchange="updateModelInfo()">
                    <option value="textblob_analysis">TextBlob Analysis</option>
                    <option value="vader_analysis">VADER Analysis</option>
                    <!-- Add more options as needed -->
                </select>
            </div>

            <div id="sentiment_model_info" class="model-info" style="display: none;">
                <p id="sentiment_model_description"></p>
                <div class="rating">
                    <p>Accuracy: <span id="sentiment_model_accuracy"></span>/5</p>
                    <p>Speed: <span id="sentiment_model_speed"></span>/5</p>
                    <p>Usefulness: <span id="sentiment_model_usefulness"></span>/5</p>
                </div>
            </div>

            <div id="summary_models" class="model-select" style="display: none;">
                <p>Model:</p>
                <select name="summary_model" onchange="updateModelInfo()">
                    <option value="lead_3" title="Lead3: Summarizes by selecting the first three sentences.">Lead3</option>
                    <option value="position_textrank">Positional TextRank</option>
                    <option value="bertsum">BertSum</option>
                    <option value="relevance_scores">Relevance Scores (for Discussions)</option>
                    <!-- Add more options as needed -->
                </select>
            </div>

            <div id="summary_model_info" class="model-info" style="display: none;">
                <p id="summary_model_description"></p>
                <div class="rating">
                    <p>Accuracy: <span id="summary_model_accuracy"></span>/5</p>
                    <p>Speed: <span id="summary_model_speed"></span>/5</p>
                    <p>Usefulness: <span id="summary_model_usefulness"></span>/5</p>
                </div>
            </div>

            <div id="relation_models" class="model-select" style="display: none;">
                <p>Model:</p>
                <select name="relation_model" onchange="updateModelInfo()">
                    <option value="co_occurrence">Co-occurrences</option>
                    <option value="tfidf_relations">TF-IDF Relations</option>
                    <!-- Add more options as needed -->
                </select>
            </div>

            <div id="relation_model_info" class="model-info" style="display: none;">
                <p id="relation_model_description"></p>
                <div class="rating">
                    <p>Accuracy: <span id="relation_model_accuracy"></span>/5</p>
                    <p>Speed: <span id="relation_model_speed"></span>/5</p>
                    <p>Usefulness: <span id="relation_model_usefulness"></span>/5</p>
                </div>
            </div>
            <!-- Other input fields -->

            <h3>Preprocessing</h3>
            <p>For now, the editing of preprocessing is disabled, as the code is currently in a PoC version and too unstable to run different sequences of preprocessing.</p>

            <div id="sortable-container">

                <div id="preprocessing_steps" class="connectedSortable">
                    <!-- Include all your steps here -->
                    <div class="step" id="clean_data">
                        Clean data
                        <i class="info-icon">i</i>
                        <div class="info-modal">Removes unnecessary data from the text, such as URLs, extra whitespaces,
                        usernames et cetera</div>
                    </div>
                    <div class="step" id="split_sentences">
                        Split sentences
                        <i class="info-icon">i</i>
                        <div class="info-modal">Splits the sentences, so they can be analyzed separately.</div>
                    </div>
                    <div class="step" id="case_folding">
                        Case folding
                        <i class="info-icon">i</i>
                        <div class="info-modal">Turns all words that contain capitals into lower case. This makes sure that words
                        are not seen as different when one is with capitals, and the other is all lower case letters
                            (f.e. Word as opposed to word).</div>
                    </div>
                    <div class="step" id="tokenize">
                        Tokenisation of words
                        <i class="info-icon">i</i>
                        <div class="info-modal">Splits the text into the individual words and punctuation marks. This makes it able to
                        analyze the words separately.</div>
                    </div>
                    <div class="step" id="pos_tagging">
                        POS Tagging
                        <i class="info-icon">i</i>
                        <div class="info-modal">Determines the part-of-speech of a word (f.e. Noun or Verb). This allows to filter
                        out words that are of an irrelevant part-of-speech.</div>
                    </div>
                    <div class="step" id="filter_pos_tagged">
                        Filter for only Nouns
                        <i class="info-icon">i</i>
                        <div class="info-modal">Filters out all words that are not Nouns. Requires POS tagging right before.</div>
                    </div>
                    <div class="step" id="remove_stop_words">
                        Stop word removal
                        <i class="info-icon">i</i>
                        <div class="info-modal">Removes stop words from the text. Stop words are words that are very common and
                        therefore do not add much meaning to the text (f.e. 'the' or 'and').</div>
                    </div>
                    <div class="step" id="lemmatize">
                        Lemmatization
                        <i class="info-icon">i</i>
                        <div class="info-modal">Reduces words to their lemma (f.e. 'is' to 'be'). This makes sure that words that
                        are different but have the same meaning are seen as the same word.</div>
                    </div>
                    <div class="step" id="join_tokens">
                        Join tokens
                        <i class="info-icon">i</i>
                        <div class="info-modal">Joins words that are tokenized together, so they can be analyzed as a text.</div>
                    </div>
                    <!-- Add more steps -->
                </div>

                <div id="selected_steps" class="connectedSortable">
                    <!-- The steps dragged here will be sent to the server -->
                </div>

            </div>

            <input type="hidden" id="preprocessing_steps_order" name="preprocessing_steps_order">
            <div id="error-message" style="color: red;"></div>
            <input type="submit" value="Submit">
    </form>

    <div id="bottom-container">
        <!-- <div class="language-switcher">
            <a href="/"><img src="{{ url_for('static', filename='images/uk_flag.jpg') }}" alt="English"></a>
            <a href="/home_dutch"><img src="{{ url_for('static', filename='images/nl_flag.png') }}" alt="Dutch"></a>
        </div> -->

        <div class="logo-container" id="logo-animation">
            <div class="line">
                <span class="pink-text">HAN_</span>
                <span class="black-text" id="university"></span>
            </div>
            <div class="line">
                <span class="black-text" id="applied-sciences"></span>
                <div class="cursor"></div>
            </div>
        </div>
    </div>


    <script>
        function updateModels() {
            // Get the selected functionality
            const functionality = document.getElementById('functionality').value;

            // Hide all model selects and infos
            const modelSelects = document.getElementsByClassName('model-select');
            const modelInfos = document.getElementsByClassName('model-info');
            for (let i = 0; i < modelSelects.length; i++) {
                modelSelects[i].style.display = 'none';
                modelInfos[i].style.display = 'none';
            }

            // Show the correct model select based on the selected functionality
            if (functionality === 'sentiment_analysis') {
                document.getElementById('sentiment_models').style.display = 'block';
            } else if (functionality === 'summarize') {
                document.getElementById('summary_models').style.display = 'block';
            } else if (functionality === 'relation_extractor') {
                document.getElementById('relation_models').style.display = 'block';
            }

            updateModelInfo(); // Update model info after changing model select visibility
        }

        function updateModelInfo() {
            const functionality = document.getElementById('functionality').value;
            let model;
            let description;
            let accuracy;
            let speed;
            let usefulness;

            switch(functionality) {
                case 'sentiment_analysis':
                    model = document.querySelector('[name=sentiment_model]').value;
                    switch(model) {
                        case 'textblob_analysis':
                            description = 'TextBlob Analysis is part of a so-called NLP (Natural Language Processing)-library.' +
                                ' A library is a collection of code already written by someone else, in this case to analyze' +
                                ' text. TextBlob is a library that is able to analyze text and determine the sentiment' +
                                ' (positive or negative) of a text.';
                            accuracy = '3';
                            speed = '3';
                            usefulness = '3';
                            break;

                        case 'vader_analysis':
                            description = 'VADER Analysis is part of a so-called NLP (Natural Language Processing)-library.' +
                                ' A library is a collection of code already written by someone else, in this case to analyze' +
                                ' text. VADER is part of the NLTK-library, that is able to analyze text and determine the sentiment' +
                                ' (positive or negative) of a text.';
                            accuracy = '3';
                            speed = '3';
                            usefulness = '3';
                            break;
                        // add more cases as needed
                    }
                    document.getElementById('sentiment_model_description').innerText = description;
                    document.getElementById('sentiment_model_accuracy').innerText = accuracy;
                    document.getElementById('sentiment_model_speed').innerText = speed;
                    document.getElementById('sentiment_model_usefulness').innerText = usefulness;
                    document.getElementById('sentiment_model_info').style.display = 'block'; // Show model info after populating
                    break;
                case 'summarize':
                    model = document.querySelector('[name=summary_model]').value;
                    switch(model) {
                        case 'lead_3':
                            description = 'Lead3 essentially selects the first sentences of a text as a summary, assuming that' +
                                ' the first sentences contain the most important information. This leads to no necessary' +
                                ' analysis, but it significantly diminishes its accuracy when seeking to summarize a' +
                                ' full text.';
                            accuracy = '2';
                            speed = '5';
                            usefulness = '1';
                            break;
                        case 'position_textrank':
                            description = 'Position TextRank is a TextRank-based model. TextRank is a model that uses' +
                                ' the graph-based ranking algorithm PageRank to determine the importance of a sentence' +
                                ' in a text. Position TextRank is a TextRank-based model that also takes into account' +
                                ' the position of a sentence in a text. This model is moderately accurate fast.';
                            accuracy = '3';
                            speed = '3';
                            usefulness = '3';
                            break;
                        case 'bertsum':
                            description = 'BertSum is a Transformers-based model that uses the BERT encoder to generate' +
                                ' embeddings of the input text. These embeddings are then used by the Transformer' +
                                ' decoder to generate a summary. This model is very accurate, but it is also very' +
                                ' slow. It is also not very useful for short texts, as it is trained on long texts.';
                            accuracy = '4';
                            speed = '1';
                            usefulness = '5';
                            break;
                        case 'relevance_scores':
                            description = 'Relevance Scores is a model that selects the most relevant forum messages' +
                                ' out of a discussion. This model makes use of TextRank.';
                            accuracy = '3';
                            speed = '3';
                            usefulness = '3';
                            break;
                        // add more cases as needed
                    }
                    document.getElementById('summary_model_description').innerText = description;
                    document.getElementById('summary_model_accuracy').innerText = accuracy;
                    document.getElementById('summary_model_speed').innerText = speed;
                    document.getElementById('summary_model_usefulness').innerText = usefulness;
                    document.getElementById('summary_model_info').style.display = 'block'; // Show model info after populating
                    break;
                case 'relation_extractor':
                    model = document.querySelector('[name=relation_model]').value;
                    switch(model) {
                        case 'co_occurrence':
                            description = 'Co-occurrence is an objective manner of determining the strongest relations, ' +
                                'by counting the number of times two entities occur in the same sentence. This model '
                                + 'is very fast, but it is also not very accurate.';
                            accuracy = '5';
                            speed = '4';
                            usefulness = '1';
                            break;
                        case 'tfidf_relations':
                            description = 'TF-IDF (Term Frequency-Inverse Document Frequency) analyzes the words that' +
                                ' appear in a text, and then determines its relevance to a document based on how many ' +
                                'times it appears in other documents. By using this method, we can determine the ' +
                                'relevance of a word to a document, and thus the relevance of two entities to each ' +
                                'other.';
                            accuracy = '4';
                            speed = '3';
                            usefulness = '2';
                            break;
                        // add more cases as needed
                    }
                    document.getElementById('relation_model_description').innerText = description;
                    document.getElementById('relation_model_accuracy').innerText = accuracy;
                    document.getElementById('relation_model_speed').innerText = speed;
                    document.getElementById('relation_model_usefulness').innerText = usefulness;
                    document.getElementById('relation_model_info').style.display = 'block'; // Show model info after populating
                    break;
            }
        }
        function updateInputFields() {
                var sourceType = document.getElementById('source_type').value;
                var linkDiv = document.querySelector('#link_div');
                var fileUploadDiv = document.querySelector('#file_upload_div');
                var messageDiv = document.querySelector('#message_div');
                var summaryModelDropdown = document.getElementsByName('summary_model')[0];

                // Initially hide all divs
                linkDiv.style.display = 'none';
                fileUploadDiv.style.display = 'none';
                messageDiv.style.display = 'none';
                summaryModelDropdown.innerHTML = "";  // Clear all existing options in the model dropdown

                if (sourceType == 'None') {
                    linkDiv.style.display = 'none';
                    fileUploadDiv.style.display = 'none';
                    messageDiv.style.display = 'none';
                } else if(sourceType == 'Scientific article') {
                    linkDiv.style.display = 'block';
                    fileUploadDiv.style.display = 'block';

                    // Add the appropriate model options
                    var option1 = new Option("Lead3", "lead_3");
                    var option2 = new Option("Positional TextRank", "position_textrank");
                    var option3 = new Option("BertSum", "bertsum");
                    summaryModelDropdown.add(option1);
                    summaryModelDropdown.add(option2);
                    summaryModelDropdown.add(option3);
                } else if(sourceType == 'Online forum discussion') {
                    linkDiv.style.display = 'block';
                    messageDiv.style.display = 'block';

                    // Add the appropriate model options
                    var option4 = new Option("Relevance Scores (for Discussions)", "relevance_scores");
                    summaryModelDropdown.add(option4);
                }

                updateModelInfo();  // Assuming this updates the model information
        }

        // Call the function initially to set fields correctly
        updateInputFields();

        function checkFileUpload() {
            var fileInput = document.getElementById('pdf_file');
            if (document.getElementById('link').value != "" && fileInput.files.length > 0) {
                alert("A PDF file has been uploaded already. Please remove the file if you want to insert a link.");
                document.getElementById('link').value = "";  // Reset the input field
            }
        }

        function checkLinkInput() {
            var fileInput = document.getElementById('pdf_file');
            if (document.getElementById('link').value != "" && fileInput.files.length > 0) {
                alert("A link has been inserted already. Please remove the link if you want to upload a file.");
                fileInput.value = "";  // Reset the file input field
            }
        }

        document.getElementById('clear_file').addEventListener('click', function() {
            document.getElementById('pdf_file').value = '';
        });

        function startLoadingDots() {
            var count = 0;
            setInterval(function() {
                count++;
                var dots = count % 4 === 0 ? '' : new Array((count % 4) + 1).join('.');
                document.getElementById('loading-dots').innerHTML = dots;
            }, 800);
        }

        $(function() {
            $(".connectedSortable").sortable({
                connectWith: ".connectedSortable",
                // Disable dragging of steps
                cancel: ':not(:input,button,a,textarea)'
            });
            // .disableSelection();

            $('form').on('submit', function() {
                var selected_steps = $("#selected_steps").sortable("toArray");
                $('#preprocessing_steps_order').val(selected_steps);
            });
        });

        var recommended_steps = {{ recommended_steps | tojson }};  // Load the data from Python

        $('select[name="functionality"]').change(function() {
            var functionality = $(this).val();
            var steps = recommended_steps[functionality];

            // First, move all steps back to the source div
            $("#selected_steps").children().appendTo("#preprocessing_steps");

            // Then, move the recommended steps to the target div
            for (var i = 0; i < steps.length; i++) {
                $("#" + steps[i]).appendTo("#selected_steps");
            }
        });

        $(".info-icon").click(function(e) {
            e.stopPropagation();  // Prevent this click from triggering the document's click event
            $(this).siblings(".info-modal").show();
        });

        $(document).click(function() {
            $(".info-modal").hide();
        });

        $(".info-icon-input").click(function(e) {
            e.stopPropagation();  // Prevent this click from triggering the document's click event
            $(this).children(".info-modal-input").show();
        });

        $(document).click(function() {
            $(".info-modal-input").hide();
        });

        // Logo animation

        const text = 'UNIVERSITY';
        const text2 = 'OF APPLIED SCIENCES';

        const universityElement = document.querySelector('#university');
        const appliedSciencesElement = document.querySelector('#applied-sciences');

        let index = 0;
        let index2 = 0;

        function typeText() {
            if (index < text.length) {
                universityElement.textContent += text[index];
                index++;
                setTimeout(typeText, 100); // Adjust this to change the speed of the typing
            } else {
                typeText2();
            }
        }

        function typeText2() {
            if (index2 < text2.length) {
                appliedSciencesElement.textContent += text2[index2];
                index2++;
                setTimeout(typeText2, 100); // Adjust this to change the speed of the typing
            }
        }

        typeText();

        $('form').on('submit', function(e) {
            var sourceType = $('#source_type').val();
            var functionality = $('select[name="functionality"]').val();
            var linkValue = $('#link').val();
            var pdfFileValue = $('#pdf_file').get(0).files.length;

            if (sourceType === 'None') {
                alert("A source type needs to be selected to conduct an analysis.");
                e.preventDefault(); //prevent the form from submitting
            } else if (functionality === 'None') {
                alert("A functionality needs to be selected to conduct an analysis.");
                e.preventDefault(); //prevent the form from submitting
            } else if ((sourceType === 'Scientific article' || sourceType === 'Online forum discussion') && linkValue === '' && pdfFileValue === 0) {
                alert("No source has been selected");
                e.preventDefault(); //prevent the form from submitting
            } else {
                var selected_steps = $("#selected_steps").sortable("toArray");
                $('#preprocessing_steps_order').val(selected_steps);

                // Store the selected steps in localStorage
                localStorage.setItem('selectedSteps', JSON.stringify(selected_steps));

                // display the loading overlay
                $('#loading-overlay').show();

                // start the loading dots animation
                startLoadingDots();
            }
        });

        window.onload = function() {
            updateInputFields();
            updateModels();
            updateModelInfo();

            // Restore the state of the selected steps
            var selectedSteps = JSON.parse(localStorage.getItem('selectedSteps')) || [];
            for (var i = 0; i < selectedSteps.length; i++) {
                var step = document.getElementById(selectedSteps[i]);
                if (step) {
                    document.getElementById('selected_steps').appendChild(step);
                }
            }
        }
    </script>
</body>
</html>