<!DOCTYPE html>
<html>
<head>
    <title>Preprocessing</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>
<body>
    <div id="loading-overlay">
        <div id="loading-text">Loading<span id="loading-dots"></span></div>
    </div>
    <form action="/" method="post" enctype='multipart/form-data'>
        <h1>Cassidy</h1>
            <br> Data source type:
            <i class="info-icon-input">i
                <div class="info-modal-input">Two data source types can be selected: scientific articles and
                online forum discussions.
                    <br>
                    For scientific articles, either a link or PDF-file is inserted, containing
                    the full-text article.
                    <br>
                    For online forum discussions, a link to the discussion is inserted. Furthermore, a few "classes"
                    are inserted. More on that when that option is selected.
                </div>
            </i>
            <br>
            <select name="source_type" id="source_type" onchange="updateInputFields()">
                <option value="None">- - -</option>
                <option value="Scientific article">Scientific article</option>
                <option value="Online forum discussion">Online forum discussion</option>
            </select>
            <br>
            <div id="link_div">
                Link:
                <i class="info-icon-input">i
                    <div class="info-modal-input">A direct link to the full-text article in PDF-format.</div>
                </i>
                <br>
                <input type="text" id="link" name="link" oninput="checkFileUpload()"><br>
                <div id="file_upload_div">
                    PDF file:
                    <i class="info-icon-input">i
                        <div class="info-modal-input">A local PDF-file containing the full-text article.</div>
                    </i><br>
                    <input type="file" id="pdf_file" name="pdf_file" accept=".pdf" onchange="checkLinkInput()"><br>
                    <button type="button" id="clear_file">Clear</button>
                </div>
            </div>
            <div id="message_div">
                Message Class: <br>
                <input type="text" id="message_class" name="message_class">
                <i class="info-icon-input">i
                    <div class="info-modal-input">
                        <p>To perform analysis on an online forum discussion, we will need to collect a bit of information
                        on the web page itself.
                        <br>
                            By right-clicking on a message in the discussion and selecting "Inspect", you can see the HTML
                            code of the message. In this code, you can find the "class" of the message. This is a unique
                            identifier for the message, which we will use to collect all messages in the discussion.
                            <br>
                            Copy the class of the FULL message and paste it in the input field above.
                        </p>
                        <img src="{{ url_for('static', filename='images/message_class.jpg') }}" alt="Image description for message class">
                    </div>
                </i>
                <br>

                <!-- Message Text Class: -->
                Message Text Class: <br>
                <input type="text" id="message_text_class" name="message_text_class">
                <i class="info-icon-input">i
                    <div class="info-modal-input">
                        <p>Next up is the text of the message. Hover over the inner text of a message, right-click on it
                        and select "Inspect". Copy the class of the element containing the text of the message, and paste
                        it in here.</p>
                        <img src="{{ url_for('static', filename='images/message_text_class.jpg') }}" alt="Image description for message text class">
                    </div>
                </i>
                <br>

                <!-- Message Author Class: -->
                Message Author Class: <br>
                <input type="text" id="message_author_class" name="message_author_class">
                <i class="info-icon-input">i
                    <div class="info-modal-input">
                        <p>Next up is the author of the message. Hover over the name of the author, select "Inspect",
                         and copy the class of the element containing the author name. Paste it here.</p>
                        <img src="{{ url_for('static', filename='images/message_author_class.jpg') }}" alt="Image description for message author class">
                    </div>
                </i>
                <br>

                <!-- Pagination Class: -->
                Pagination Class: <br>
                <input type="text" id="pagination_class" name="pagination_class">
                <i class="info-icon-input">i
                    <div class="info-modal-input">
                        <p>Lastly is the pagination. Hover over the pagination (which is the element containing the different
                        page numbers you can click on) and select "Inspect". Copy the class of the element containing
                        the page numbers, and insert it here.</p>
                        <img src="{{ url_for('static', filename='images/pagination.jpg') }}" alt="Image description for pagination class">
                    </div>
                </i>
                <br>
            </div>
            Functionality:
            <i class="info-icon-input">i
                <div class="info-modal-input">Three functionalities can be executed:
                <br>
                - Sentiment analysis: calculates a "sentiment score" per section/message. The score is between -1 and 1,
                where -1 is very negative, 0 is neutral and 1 is very positive.
                <br>
                - Extractive summarization: extracts the most important sentences from the text.
                <br>
                - Relation extraction: extracts meaningful relations between Nouns in the text.
                </div>
            </i>
            <br>
            <select name="functionality">
                <option value="None">- - -</option>
                <option value="sentiment_analysis">Sentiment analysis</option>
                <option value="summarize">Extractive summarization</option>
                <option value="relation_extractor">Relation extraction</option>
                <!-- Add more options as needed -->
            </select>
            <br>
            <!-- Other input fields -->

            <h2>Drag and drop your preprocessing steps:</h2>

            <div id="sortable-container">

                <div id="preprocessing_steps" class="connectedSortable">
                    <!-- Include all your steps here -->
                    <div class="step" id="clean_data">
                        Clean data
                        <i class="info-icon">i</i>
                        <div class="info-modal">Removes unnecessary data from the text, such as URLs, extra whitespaces,
                        usernames et cetera</div>
                    </div>
                    <div class="step" id="split_sentences">
                        Split sentences
                        <i class="info-icon">i</i>
                        <div class="info-modal">Splits the sentences, so they can be analyzed separately.</div>
                    </div>
                    <div class="step" id="case_folding">
                        Case folding
                        <i class="info-icon">i</i>
                        <div class="info-modal">Turns all words that contain capitals into lower case. This makes sure that words
                        are not seen as different when one is with capitals, and the other is all lower case letters
                            (f.e. Word as opposed to word).</div>
                    </div>
                    <div class="step" id="tokenize">
                        Tokenisation of words
                        <i class="info-icon">i</i>
                        <div class="info-modal">Splits the text into the individual words and punctuation marks. This makes it able to
                        analyze the words separately.</div>
                    </div>
                    <div class="step" id="pos_tagging">
                        POS Tagging
                        <i class="info-icon">i</i>
                        <div class="info-modal">Determines the part-of-speech of a word (f.e. Noun or Verb). This allows to filter
                        out words that are of an irrelevant part-of-speech.</div>
                    </div>
                    <div class="step" id="filter_pos_tagged">
                        Filter for only Nouns
                        <i class="info-icon">i</i>
                        <div class="info-modal">Filters out all words that are not Nouns. Requires POS tagging right before.</div>
                    </div>
                    <!-- Add more steps -->
                </div>

                <div id="selected_steps" class="connectedSortable">
                    <!-- The steps dragged here will be sent to the server -->
                </div>

            </div>

            <input type="hidden" id="preprocessing_steps_order" name="preprocessing_steps_order">
            <div id="error-message" style="color: red;"></div>
            <input type="submit" value="Submit">
    </form>

    <div class="language-switcher">
        <a href="/"><img src="{{ url_for('static', filename='images/uk_flag.jpg') }}" alt="English"></a>
        <a href="/home_dutch"><img src="{{ url_for('static', filename='images/nl_flag.png') }}" alt="Dutch"></a>
    </div>

    <div class="logo-container" id="logo-animation">
        <div class="line">
            <span class="pink-text">HAN_</span>
            <span class="black-text" id="university"></span>
        </div>
        <div class="line">
            <span class="black-text" id="applied-sciences"></span>
            <div class="cursor"></div>
        </div>
    </div>

    <script>
        function updateInputFields() {
            var sourceType = document.getElementById('source_type').value;
            var linkDiv = document.querySelector('#link_div');
            var fileUploadDiv = document.querySelector('#file_upload_div');
            var messageDiv = document.querySelector('#message_div');
            // Initially hide all divs
            linkDiv.style.display = 'none';
            fileUploadDiv.style.display = 'none';
            messageDiv.style.display = 'none';
            if (sourceType == 'None') {
                linkDiv.style.display = 'none';
                fileUploadDiv.style.display = 'none';
                messageDiv.style.display = 'none';
            } else if(sourceType == 'Scientific article') {
                linkDiv.style.display = 'block';
                fileUploadDiv.style.display = 'block';
            } else if(sourceType == 'Online forum discussion') {
                linkDiv.style.display = 'block';
                messageDiv.style.display = 'block';
            }
        }

        // Call the function initially to set fields correctly
        updateInputFields();

        function checkFileUpload() {
            var fileInput = document.getElementById('pdf_file');
            if (document.getElementById('link').value != "" && fileInput.files.length > 0) {
                alert("A PDF file has been uploaded already. Please remove the file if you want to insert a link.");
                document.getElementById('link').value = "";  // Reset the input field
            }
        }

        function checkLinkInput() {
            var fileInput = document.getElementById('pdf_file');
            if (document.getElementById('link').value != "" && fileInput.files.length > 0) {
                alert("A link has been inserted already. Please remove the link if you want to upload a file.");
                fileInput.value = "";  // Reset the file input field
            }
        }

        document.getElementById('clear_file').addEventListener('click', function() {
            document.getElementById('pdf_file').value = '';
        });

        function startLoadingDots() {
            var count = 0;
            setInterval(function() {
                count++;
                var dots = count % 4 === 0 ? '' : new Array((count % 4) + 1).join('.');
                document.getElementById('loading-dots').innerHTML = dots;
            }, 800);
        }

        $(function() {
            $(".connectedSortable").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();

            $('form').on('submit', function() {
                var selected_steps = $("#selected_steps").sortable("toArray");
                $('#preprocessing_steps_order').val(selected_steps);
            });
        });

        var recommended_steps = {{ recommended_steps | tojson }};  // Load the data from Python

        $('select[name="functionality"]').change(function() {
            var functionality = $(this).val();
            var steps = recommended_steps[functionality];

            // First, move all steps back to the source div
            $("#selected_steps").children().appendTo("#preprocessing_steps");

            // Then, move the recommended steps to the target div
            for (var i = 0; i < steps.length; i++) {
                $("#" + steps[i]).appendTo("#selected_steps");
            }
        });

        $(".info-icon").click(function(e) {
            e.stopPropagation();  // Prevent this click from triggering the document's click event
            $(this).siblings(".info-modal").show();
        });

        $(document).click(function() {
            $(".info-modal").hide();
        });

        $(".info-icon-input").click(function(e) {
            e.stopPropagation();  // Prevent this click from triggering the document's click event
            $(this).children(".info-modal-input").show();
        });

        $(document).click(function() {
            $(".info-modal-input").hide();
        });

        // Logo animation

        const text = 'UNIVERSITY';
        const text2 = 'OF APPLIED SCIENCES';

        const universityElement = document.querySelector('#university');
        const appliedSciencesElement = document.querySelector('#applied-sciences');

        let index = 0;
        let index2 = 0;

        function typeText() {
            if (index < text.length) {
                universityElement.textContent += text[index];
                index++;
                setTimeout(typeText, 100); // Adjust this to change the speed of the typing
            } else {
                typeText2();
            }
        }

        function typeText2() {
            if (index2 < text2.length) {
                appliedSciencesElement.textContent += text2[index2];
                index2++;
                setTimeout(typeText2, 100); // Adjust this to change the speed of the typing
            }
        }

        typeText();

        $('form').on('submit', function(e) {
            var sourceType = $('#source_type').val();
            var functionality = $('select[name="functionality"]').val();
            var linkValue = $('#link').val();
            var pdfFileValue = $('#pdf_file').get(0).files.length;

            if (sourceType === 'None') {
                alert("A source type needs to be selected to conduct an analysis.");
                e.preventDefault(); //prevent the form from submitting
            } else if (functionality === 'None') {
                alert("A functionality needs to be selected to conduct an analysis.");
                e.preventDefault(); //prevent the form from submitting
            } else if ((sourceType === 'Scientific article' || sourceType === 'Online forum discussion') && linkValue === '' && pdfFileValue === 0) {
                alert("No source has been selected");
                e.preventDefault(); //prevent the form from submitting
            } else {
                var selected_steps = $("#selected_steps").sortable("toArray");
                $('#preprocessing_steps_order').val(selected_steps);

                // display the loading overlay
                $('#loading-overlay').show();

                // start the loading dots animation
                startLoadingDots();
            }
        });
    </script>
</body>
</html>