<!DOCTYPE html>
<html>
<head>
    <title>Preprocessing</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <form action="/" method="post">
        <h1>Cassidy</h1>
            <br> Data source type: <br>
            <select name="source_type">
                <option value="None">- - -</option>
                <option value="Scientific article">Scientific article</option>
                <option value="Online forum discussion">Online forum discussion</option>
            </select>
            <br>
            Link: <br>
            <input type="text" name="link"><br>
            Functionality: <br>
            <select name="functionality">
                <option value="None">- - -</option>
                <option value="sentiment_analysis">Sentiment analysis</option>
                <option value="summarize">Extractive summarization</option>
                <option value="relation_extractor">Relation extraction</option>
                <!-- Add more options as needed -->
            </select>
            <br>
            <!-- Other input fields -->

            <h2>Drag and drop your preprocessing steps:</h2>

            <div id="sortable-container">

                <div id="preprocessing_steps" class="connectedSortable">
                    <!-- Include all your steps here -->
                    <div class="step" id="clean_data">
                        Clean data
                        <i class="info-icon">i</i>
                        <div class="info-modal">Info about clean data step...</div>
                    </div>
                    <div class="step" id="split_sentences">
                        Split sentences
                        <i class="info-icon">i</i>
                        <div class="info-modal">Splits the sentences, so they can be analyzed separately.</div>
                    </div>
                    <div class="step" id="case_folding">
                        Case folding
                        <i class="info-icon">i</i>
                        <div class="info-modal">Turns all words that contain capitals into lower case. This makes sure that words
                        are not seen as different when one is with capitals, and the other is all lower case letters
                            (f.e. Word as opposed to word).</div>
                    </div>
                    <div class="step" id="tokenize">
                        Tokenisation of words
                        <i class="info-icon">i</i>
                        <div class="info-modal">Splits the text into the individual words and punctuation marks. This makes it able to
                        analyze the words separately.</div>
                    </div>
                    <div class="step" id="pos_tagging">
                        POS Tagging
                        <i class="info-icon">i</i>
                        <div class="info-modal">Determines the part-of-speech of a word (f.e. Noun or Verb). This allows to filter
                        out words that are of an irrelevant part-of-speech.</div>
                    </div>
                    <div class="step" id="filter_pos_tagged">
                        Filter for only Nouns
                        <i class="info-icon">i</i>
                        <div class="info-modal">Filters out all words that are not Nouns. Requires POS tagging right before.</div>
                    </div>
                    <!-- Add more steps -->
                </div>

                <div id="selected_steps" class="connectedSortable">
                    <!-- The steps dragged here will be sent to the server -->
                </div>

            </div>

            <input type="hidden" id="preprocessing_steps_order" name="preprocessing_steps_order">
            <input type="submit" value="Submit">
    </form>

    <script>
        $(function() {
            $(".connectedSortable").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();

            $('form').on('submit', function() {
                var selected_steps = $("#selected_steps").sortable("toArray");
                $('#preprocessing_steps_order').val(selected_steps);
            });
        });

        var recommended_steps = {{ recommended_steps | tojson }};  // Load the data from Python

        $('select[name="functionality"]').change(function() {
            var functionality = $(this).val();
            var steps = recommended_steps[functionality];

            // First, move all steps back to the source div
            $("#selected_steps").children().appendTo("#preprocessing_steps");

            // Then, move the recommended steps to the target div
            for (var i = 0; i < steps.length; i++) {
                $("#" + steps[i]).appendTo("#selected_steps");
            }
        });

        $(".info-icon").click(function(e) {
            e.stopPropagation();  // Prevent this click from triggering the document's click event
            $(this).siblings(".info-modal").show();
        });

        $(document).click(function() {
            $(".info-modal").hide();
        });
    </script>
</body>
</html>